In [0]:
df = spark.read.format("csv").option("header" , True).load("dbfs:/FileStore/shared_uploads/athiyastudies@gmail.com/original.csv")

In [0]:
df = df.withColumn("newSal",df.Salary.substr(2,100).cast("float"))
df.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+--------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude|  Longitude|  newSal|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+--------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18|50.5774075| 16.4967184|57438.18|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|48.8231572|103.5218199| 62846.6|
|  3|    Alvera|  Di Boldi|Female|           null|                null|$57576.52|39.9947462|116.3397725|57576.52|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23|44.5047212| 38.1300171|61489.23|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      null| 37.6489954|63863.09|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16|53.4266145| -6.1644997|30101.16|
|  7|     Masha|    Divers|Female|         Dachun|                null|$25090.87| 24.879416| 118.930111|25090.87|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36|45.1905186|  0.7423124|46116.36|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027934| 106.657113| 73697.1|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793| -74.416014|68098.42|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85|-79.8833329|13604.63|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70| 39.172378| 116.931607| 73423.7|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|49.8151822| 19.3771749|33432.99|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|42.1014803|-72.5766759|50838.53|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|49.7923299| 13.4915324|40163.03|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73|43.4945737|  5.8978018|32492.73|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48|52.7441662| 17.3278637|51862.48|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696249| -8.7098337|42135.67|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232567|113.4686802|91925.08|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33|40.7172049| -8.3625148|73921.33|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+--------+
only showing top 20 rows

In [0]:
import pyspark.sql.functions as F

In [0]:
df1 = df.groupBy('gender').agg(F.avg('newSal').alias("Avg Sal"))

In [0]:
df1.show()

+------+-----------------+
|gender|          Avg Sal|
+------+-----------------+
|Female|55618.94298820185|
|  Male|55361.09385573019|
+------+-----------------+

In [0]:
from pyspark.sql.functions import lit,when,col

In [0]:
df2 = df.withColumn("FemaleSal",when(df.gender=='Female',df.newSal).otherwise(lit(0)))

In [0]:
df2.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+--------+---------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude|  Longitude|  newSal|FemaleSal|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+--------+---------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18|50.5774075| 16.4967184|57438.18| 57438.18|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|48.8231572|103.5218199| 62846.6|  62846.6|
|  3|    Alvera|  Di Boldi|Female|           null|                null|$57576.52|39.9947462|116.3397725|57576.52| 57576.52|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23|44.5047212| 38.1300171|61489.23|      0.0|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      null| 37.6489954|63863.09|      0.0|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16|53.4266145| -6.1644997|30101.16| 30101.16|
|  7|     Masha|    Divers|Female|         Dachun|                null|$25090.87| 24.879416| 118.930111|25090.87| 25090.87|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36|45.1905186|  0.7423124|46116.36|      0.0|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027934| 106.657113| 73697.1|      0.0|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793| -74.416014|68098.42|      0.0|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85|-79.8833329|13604.63| 13604.63|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70| 39.172378| 116.931607| 73423.7|  73423.7|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|49.8151822| 19.3771749|33432.99|      0.0|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|42.1014803|-72.5766759|50838.53|      0.0|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|49.7923299| 13.4915324|40163.03|      0.0|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73|43.4945737|  5.8978018|32492.73|      0.0|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48|52.7441662| 17.3278637|51862.48| 51862.48|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696249| -8.7098337|42135.67|      0.0|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232567|113.4686802|91925.08| 91925.08|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33|40.7172049| -8.3625148|73921.33|      0.0|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+--------+---------+
only showing top 20 rows

In [0]:
df = df2.withColumn("MaleSal",when(df2.gender=='Male',df2.newSal).otherwise(lit(0)))

In [0]:
df.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+--------+---------+--------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude|  Longitude|  newSal|FemaleSal| MaleSal|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+--------+---------+--------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18|50.5774075| 16.4967184|57438.18| 57438.18|     0.0|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|48.8231572|103.5218199| 62846.6|  62846.6|     0.0|
|  3|    Alvera|  Di Boldi|Female|           null|                null|$57576.52|39.9947462|116.3397725|57576.52| 57576.52|     0.0|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23|44.5047212| 38.1300171|61489.23|      0.0|61489.23|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      null| 37.6489954|63863.09|      0.0|63863.09|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16|53.4266145| -6.1644997|30101.16| 30101.16|     0.0|
|  7|     Masha|    Divers|Female|         Dachun|                null|$25090.87| 24.879416| 118.930111|25090.87| 25090.87|     0.0|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36|45.1905186|  0.7423124|46116.36|      0.0|46116.36|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027934| 106.657113| 73697.1|      0.0| 73697.1|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793| -74.416014|68098.42|      0.0|68098.42|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85|-79.8833329|13604.63| 13604.63|     0.0|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70| 39.172378| 116.931607| 73423.7|  73423.7|     0.0|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|49.8151822| 19.3771749|33432.99|      0.0|33432.99|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|42.1014803|-72.5766759|50838.53|      0.0|50838.53|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|49.7923299| 13.4915324|40163.03|      0.0|40163.03|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73|43.4945737|  5.8978018|32492.73|      0.0|32492.73|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48|52.7441662| 17.3278637|51862.48| 51862.48|     0.0|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696249| -8.7098337|42135.67|      0.0|42135.67|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232567|113.4686802|91925.08| 91925.08|     0.0|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33|40.7172049| -8.3625148|73921.33|      0.0|73921.33|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+--------+---------+--------+
only showing top 20 rows

In [0]:
df1 = df.groupBy("JobTitle").agg(F.avg("FemaleSal").alias("Female_avg_sal"),F.avg("MaleSal").alias("Male_avg_sal"))

In [0]:
df1.show()

+--------------------+------------------+------------------+
|            JobTitle|    Female_avg_sal|      Male_avg_sal|
+--------------------+------------------+------------------+
|Systems Administr...|   50590.474609375|  15540.9501953125|
|   Media Manager III|29586.436197916668|17381.920572916668|
|  Recruiting Manager|34848.452473958336|  26383.4951171875|
|       Geologist III|      31749.046875|    12830.75390625|
|        Geologist II|               0.0|   43293.865234375|
|Database Administ...|               0.0|     52018.4609375|
|   Financial Analyst|   23353.776953125|       39606.05625|
|  Analyst Programmer|  16406.1287109375|  21042.9634765625|
|Software Engineer II|               0.0|      74782.640625|
|       Accountant IV|   82732.248046875|               0.0|
|    Product Engineer|    41825.48359375|       20464.94375|
|Software Test Eng...|  32218.6083984375|   27122.462890625|
|Safety Technician...|               0.0|   29421.529296875|
|    Junior Executive|15752.220052083334|49510.330729166664|
|Systems Administr...|       77059.21875|               0.0|
|Human Resources A...|   24022.662109375| 16609.27783203125|
|        VP Marketing| 7981.178385416667|52844.534830729164|
|  Environmental Tech|13706.980143229166|      45660.890625|
|Mechanical System...|31370.781901041668|44321.593098958336|
| Assistant Professor|   22175.953515625|   26912.770703125|
+--------------------+------------------+------------------+
only showing top 20 rows

In [0]:
df3 = df1.withColumn("delta",df1.Female_avg_sal-df1.Male_avg_sal)

In [0]:
df3.show()

+--------------------+------------------+------------------+-------------------+
|            JobTitle|    Female_avg_sal|      Male_avg_sal|              delta|
+--------------------+------------------+------------------+-------------------+
|Systems Administr...|   50590.474609375|  15540.9501953125|   35049.5244140625|
|   Media Manager III|29586.436197916668|17381.920572916668|       12204.515625|
|  Recruiting Manager|34848.452473958336|  26383.4951171875|  8464.957356770836|
|       Geologist III|      31749.046875|    12830.75390625|     18918.29296875|
|        Geologist II|               0.0|   43293.865234375|   -43293.865234375|
|Database Administ...|               0.0|     52018.4609375|     -52018.4609375|
|   Financial Analyst|   23353.776953125|       39606.05625|   -16252.279296875|
|  Analyst Programmer|  16406.1287109375|  21042.9634765625| -4636.834765625001|
|Software Engineer II|               0.0|      74782.640625|      -74782.640625|
|       Accountant IV|   82732.248046875|               0.0|    82732.248046875|
|    Product Engineer|    41825.48359375|       20464.94375| 21360.539843750004|
|Software Test Eng...|  32218.6083984375|   27122.462890625|    5096.1455078125|
|Safety Technician...|               0.0|   29421.529296875|   -29421.529296875|
|    Junior Executive|15752.220052083334|49510.330729166664| -33758.11067708333|
|Systems Administr...|       77059.21875|               0.0|        77059.21875|
|Human Resources A...|   24022.662109375| 16609.27783203125|   7413.38427734375|
|        VP Marketing| 7981.178385416667|52844.534830729164|  -44863.3564453125|
|  Environmental Tech|13706.980143229166|      45660.890625|-31953.910481770836|
|Mechanical System...|31370.781901041668|44321.593098958336|-12950.811197916668|
| Assistant Professor|   22175.953515625|   26912.770703125| -4736.817187500001|
+--------------------+------------------+------------------+-------------------+
only showing top 20 rows

In [0]:
avgCity = df.groupBy('City').agg(F.avg('newSal').alias('CittyAvg'))

In [0]:
highavgCity = avgCity.sort(col('CittyAvg').desc())

In [0]:
highavgCity.show()

+-----------------+-------------+
|             City|     CittyAvg|
+-----------------+-------------+
|        Mesopotam|  99948.28125|
|       Zhongcheng| 99942.921875|
|           Caxias|99786.3984375|
|      Karangtawar|99638.9921875|
|        Itabaiana|  99502.15625|
|           Pasian|  99421.34375|
|           Webuye| 99368.546875|
|      Yuktae-dong| 99250.828125|
|           Zinder|  99222.84375|
|   Timiryazevskiy|   99142.9375|
|        Sawahbaru|99013.7109375|
|          Madimba|98737.8671875|
|         Huangshi|  98690.34375|
|          Gharyan|   98679.3125|
|         Yŏnan-ŭp| 98628.609375|
|     Wringinputih|98603.8203125|
|Monte da Boavista|  98586.71875|
|          Klukeng|98439.4921875|
|         Murmashi|  98226.15625|
|        Fox Creek|      98138.0|
+-----------------+-------------+
only showing top 20 rows